@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0B0F19;
    --foreground: #F8FAFC;
  }

  body {
    @apply bg-background text-foreground antialiased min-h-screen selection:bg-primary/30 selection:text-white;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-glass border border-glass-border backdrop-blur-md shadow-xl;
  }

  /* Hide number input spinners globally */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
